body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin-top: 20px;
}

li {
    margin-bottom: 10px;
}
